html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
  display: flex;
  flex-direction: column;
  font-family: "Courier New", Courier, monospace;
}

.main-box {
  margin: auto;
  border: 3px solid purple;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(255, 245, 231);
}

.display-box {
  margin: 10px 0px;
  height: 70px;
  width: 180px;
  flex-grow: 0;
  border: 4px double purple;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  padding: 16px;
  font-size: 24px;
  overflow: hidden;
  transition: all 0.2s ease;
  background-color: bisque;
}

.inputs-box {
  display: flex;
  flex-direction: row;
  border-top: 1px solid purple;
}

.digits-box {
  width: 150px;
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: space-between;
}

.button {
  height: 50px;
  width: 50px;
  font-size: 20px;
  text-align: center;
  line-height: 44px;
  border: 1px solid purple;
  padding: 3px;
  background-clip: content-box;
  transition: all 0.2s ease;
}

.button:active {
  transform: scale(1.1);
  border-color: purple;
  box-shadow: 0 0 0.2rem purple;
}

.digit {
  background-color: rgb(171, 186, 202);
}
.equals {
  background-color: lightseagreen;
  font-size: 30px;
}

.backspace {
  background-color: rgb(254, 254, 178);
}

.clear {
  background-color: lightcoral;
}

.operator {
  background-color: lightskyblue;
}

#digit0 {
  width: 100px;
}

.operators-box {
  display: flex;
  flex-direction: column;
}

.actions-box {
  display: flex;
}

.equals {
  width: 100px;
}
