body {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
  display: flex;
  flex-direction: column;
  font-family: "Courier New", Courier, monospace;
}

.main-box {
  margin: auto;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.display-box {
  height: 70px;
  width: 200px;
  flex-grow: 0;
  border: 1px solid blue;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  padding: 20px;
  font-size: 30px;
  overflow: hidden;
  box-sizing: border-box;
}

.inputs-box {
  display: flex;
  flex-direction: row;
}

.digits-box {
  width: 150px;
  box-sizing: border-box;
  display: flex;
  flex-flow: row-reverse wrap;
  justify-content: space-between;
}

.digit,
.operator,
.backspace,
.equals,
.clear {
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 44px;
  border: 1px solid purple;
  box-sizing: border-box;
  padding: 3px;
  background-clip: content-box;
}

.digit {
  background-color: rgb(171, 186, 202);
}
.equals {
  background-color: lightseagreen;
}

.backspace {
  background-color: rgb(254, 254, 178);
}

.clear {
  background-color: lightsalmon;
}

.operator {
  background-color: lightskyblue;
}

#digit0 {
  width: 100px;
}

.operators-box {
  display: flex;
  flex-direction: column;
}

.actions-box {
  display: flex;
}

.equals {
  width: 100px;
}
